/* this is for font*/


body{
    font-family:"sans-serif";
  font-family: "Open Sans", sans-serif;
 
  
}
.btn-primary{

    background-color: #fd6e0a;
    width: 110px;
    height: 30px;
    color: white;
    border-radius: 5px;
    border: 0px;
    font-weight: 200px;
    font-size: 15px;
    
}
.btn-primary:hover{
    background-color: aliceblue;
    color: black;
    transition: 1s;
    border: 2px dotted rgb(28, 151, 204);
}
.text-primary{
color: #FD6E0A;

}
nav{
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 200px; 
}
nav > ul{
    display: flex;

    
}
nav li{

    list-style: none;
    margin-right: 50px;
    
}

nav a{
   text-decoration: none;
   color: #474747;
   


}
.header{

    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
}
.images{
    width: 500px;
    height: auto;

}
